<mat-card class="dashboard-card">
  <h1>Bienvenue, {{ prenom }} {{ nom }}</h1>
  <p>Rôle : {{ getRoleLabel(role) }}</p>

  <!-- ADMIN -->
  <div *ngIf="role === 'ADMIN'" class="button-container">
    <button mat-raised-button color="primary" routerLink="/utilisateurs">Gestion des Utilisateurs</button>
    <button mat-raised-button color="accent" routerLink="/rapports">Consulter les Rapports</button>
  </div>

  <!-- GESTIONNAIRE STOCK -->
  <div *ngIf="role === 'GESTIONNAIRE_STOCK'" class="button-container">
    <button mat-raised-button color="primary" [routerLink]="['/enregistrer-vehicule']">Enregistrer un Véhicule</button>
    <button mat-raised-button color="accent" [routerLink]="['/transfert']">Transférer des Véhicules</button>
    <button mat-raised-button color="warn" [routerLink]="['/avaries']">Gérer les Avaries</button>
    <button mat-raised-button color="basic" [routerLink]="['/vehicules']">Liste des Véhicules</button>
  </div>

 
  <!-- EXPERT -->
 <!-- EXPERT -->
<div *ngIf="role === 'EXPERT'" class="button-container">
  <button mat-raised-button color="primary" [routerLink]="['/demandes-expertise']">
    📄 Traiter les Demandes d'Expertise
  </button>
</div>
</mat-card>
