<mat-card class="reparation-container">
  <h2>🔧 Consultation des Véhicules Avariés</h2>

  <div *ngIf="vehiculesAvaries.length === 0" class="empty-message">
    <p>✅ Aucun véhicule en avarie actuellement.</p>
  </div>
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>🔍 Rechercher</mat-label>
    <input matInput placeholder="Rechercher par N° Châssis, modele , marque" [(ngModel)]="recherche" (ngModelChange)="filtrerVehicules()" />
  </mat-form-field>
  <div class="pagination-container">
    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50]"
      showFirstLastButtons>
    </mat-paginator>
  </div>
  <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="vehiculesFiltres.length > 0">
    
    <!-- Numéro de châssis -->
    <ng-container matColumnDef="numeroChassis">
      <th mat-header-cell *matHeaderCellDef> Numéro Châssis </th>
      <td mat-cell *matCellDef="let vehicule"> {{ vehicule.numeroChassis }} </td>
    </ng-container>
    <ng-container matColumnDef="marque">
      <th mat-header-cell *matHeaderCellDef> Marque </th>
      <td mat-cell *matCellDef="let vehicule"> {{ vehicule.shortDescription }} </td>
    </ng-container>
    <!-- Modèle -->
    <ng-container matColumnDef="modele">
      <th mat-header-cell *matHeaderCellDef> Modèle </th>
      <td mat-cell *matCellDef="let vehicule"> {{ vehicule.modele }} </td>
    </ng-container>
    <ng-container matColumnDef="couleur">
      <th mat-header-cell *matHeaderCellDef> Couleur </th>
      <td mat-cell *matCellDef="let vehicule"> {{ vehicule.shortColor }} </td>
    </ng-container>
    <!-- Emplacement (Parc) -->
    <ng-container matColumnDef="parcNom">
      <th mat-header-cell *matHeaderCellDef> Emplacement </th>
      <td mat-cell *matCellDef="let vehicule"> {{ vehicule.parcNom }} </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let vehicule">
        <button mat-button color="primary"
        (click)="ouvrirPopupModification(vehicule)">
        <mat-icon>visibility</mat-icon> Visualiser
      </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
