<mat-card class="register-card">
    <h2>Ajouter Utilisateur</h2>
    <form [formGroup]="form" (ngSubmit)="register()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="nom" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prénom</mat-label>
        <input matInput formControlName="prenom" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="motDePasse" type="password" required />
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Rôle</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of roles" [value]="role.value">
            {{ role.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Sélection du parc de travail (exclut TRANSFERT et AUPORT) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Parc de Travail</mat-label>
        <mat-select formControlName="parc" required>
          <mat-option *ngFor="let parc of parcs" [value]="parc.id">
            {{ parc.nom }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <!-- Sélection des parcs accessibles (exclut uniquement TRANSFERT, mais AUPORT est disponible) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Parcs accessibles</mat-label>
        <mat-select formControlName="parcsAcces" multiple>
          <mat-option *ngFor="let parc of parcsAcces" [value]="parc.id">
            {{ parc.nom }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Marques accessibles</mat-label>
        <mat-select formControlName="marquesAccessibles" multiple>
          <mat-option *ngFor="let marque of marquesDisponibles" [value]="marque">
            {{ marque }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Indicateur de chargement -->
      <mat-progress-spinner *ngIf="loadingParcs" mode="indeterminate"></mat-progress-spinner>
  
      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="form.invalid">
        S'inscrire
      </button>
  
    </form>
  </mat-card>
  