.custom-navbar {
  background-color: #003366;
  color: white;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.white-navbar {
  background-color: white !important;
  color: #000000;

  .logout-button {
    background-color: #F4A300;
    color: white;
  }

  .logout-button:hover {
    background-color: #F4A300;
    color: white;
  }

  .user-menu-icon {
    color: #F4A300;
  }

  .role {
    color: #F4A300;
  }
}
.logo-button {
  padding: 0;
  margin: 0;
  height: 100%;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;

  img.navbar-logo {
    height: 100px;              
    width: auto;              
    max-width: none;           
    display: block;
  }
}

.spacer {
  flex: 1;
}

.user-info {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
}
button[mat-menu-item] mat-icon {
  margin-right: 8px;
  color: #0073A8; 
}

.user-menu-icon {
  margin-left: 1rem;
}
.role {
  margin-left: 4px;
  margin-right: 5px;
  color: white;
  font-weight: bold;
}

.logout-button {
  background-color: #C4C4C4;
  color: white;
  border-radius: 8px;
  padding: 8px 15px;
}

.logout-button:hover {
  background-color: #F4A300;
  color: white;
}

.user-menu-icon {
  color: #000000;
}

/* ✅ Responsive */
@media (max-width: 768px) {
  .custom-navbar {
    padding: 0;
  }

  .logo-button {
    margin-right: 12px;
  }

  .user-info {
    display: none;
  }

  .user-menu-icon {
    display: block;
  }
}
