@use '../../../styles/auth-form.scss';

.login-card {
  @extend .auth-form-card;
}
.dashboard-card {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }

  p {
    font-size: 18px;
    margin-bottom: 16px;
    color: #666;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 20px;

    button {
      min-width: 200px;
    }
  }
}
