<mat-card class="login-card">
  <h2>Connexion</h2>
  <form [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="form.invalid">Se connecter</button>
    <p class="login-link">
      Pas encore de compte ?
      <button mat-button type="button" (click)="goToRegister()">Créer un compte</button></p>
  </form>
</mat-card>

