<div class="reception-wrapper">
  <mat-card class="reception-mobile-container">
    <h2>📡 Réception des Véhicules</h2>

    <!-- ✅ Boutons d'action -->
    <div class="action-buttons">
      <button mat-raised-button color="accent" class="btn-action" (click)="allerVersEnregistrement()">
        <mat-icon>edit</mat-icon> Réception Manuelle
      </button>
    </div>

    
    

    <!-- ✅ Formulaire de réception -->
    <form [formGroup]="qrForm" (ngSubmit)="receptionnerVehicule()" class="reception-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Numéro de Châssis</mat-label>
        <input matInput formControlName="numeroChassis" appAutofocus  required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="btn-submit" [disabled]="qrForm.invalid">
      Confirmer
      </button>
    </form>
  </mat-card>
</div>
