<mat-dialog-content class="popup-container">
  <h2 mat-dialog-title style="color: #003366 ;">
    {{ isReadonly ? 'Détails du Véhicule' : 'Ajouter / Modifier le Véhicule' }}
  </h2>

  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label style="color: #003366 ;">Marque</mat-label>
      <input style="color: #fab940" matInput formControlName="shortDescription" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label style="color: #003366 ;">Modèle</mat-label>
      <input style="color: #fab940"  matInput formControlName="modele" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label style="color: #003366 ;">Numéro de Châssis</mat-label>
      <input style="color: #fab940"  matInput formControlName="numeroChassis" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label style="color: #003366 ;">Couleur</mat-label>
      <input style="color: #fab940"  matInput formControlName="shortColor" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label style="color: #003366 ;">Date de production</mat-label>
      <input style="color: #fab940"  matInput type="date" formControlName="productionDate"  />
    </mat-form-field>

    <div *ngIf="avariesForm.length > 0" style="color: #003366 ;">
      <h3>Avaries détectées</h3>

      <div *ngFor="let avarie of avariesForm.controls; let i = index" class="avarie-section">
        <mat-card>
          <mat-form-field appearance="fill">
            <mat-label style="color: #003366 ;">Type d'avarie</mat-label>
            <input style="color: #fab940"  matInput [formControl]="getFormControl(avarie, 'type')" />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label style="color: #003366 ;">Commentaire</mat-label>
            <textarea style="color: #fab940"  matInput [formControl]="getFormControl(avarie, 'commentaire')"></textarea>
          </mat-form-field>

          <div class="photo-preview" *ngIf="getFormControl(avarie, 'photos')?.value?.length > 0">
            <h4>Photos</h4>
            <div class="preview-image-container">
              <img
                *ngFor="let photoUrl of getFormControl(avarie, 'photos').value"
                [src]="photoUrl"
                alt="Photo de l'avarie"
                class="preview-image"
                (click)="ouvrirImage(photoUrl)"
              />
            </div>
          </div>
          
          <!-- ✅ Modal image agrandie -->
          <div class="image-modal" *ngIf="imageAgrandie" (click)="fermerImage()">
            <img [src]="imageAgrandie" alt="Image agrandie">
            <button (click)="fermerImage()">✖</button>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</mat-dialog-content>
