<h2 mat-dialog-title>
    {{ isReadOnly ? '👁️ Consulter Véhicule' : (isEditMode ? '✏️ Modifier Véhicule' : '➕ Ajouter Véhicule') }}
  </h2>

  <mat-dialog-content [formGroup]="vehiculeForm">
    <mat-form-field appearance="fill">
      <mat-label>Matricule</mat-label>
      <input matInput formControlName="matricule" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Capacité</mat-label>
      <input matInput type="number" formControlName="capacite" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <input matInput formControlName="type" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Statut</mat-label>
      <mat-select formControlName="disponible">
        <mat-option [value]="true">Disponible</mat-option>
        <mat-option [value]="false">Non disponible</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Annuler</button>
    <button mat-raised-button color="primary" *ngIf="!isReadOnly" (click)="onSubmit()">
      Valider
    </button>
  </mat-dialog-actions>